@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w{
    @apply max-w-screen-2xl mx-auto px-4;
}

.section-div{
    @apply max-w font-Jakarta my-10 lg:my-20; 
}

.btn-primary{
    @apply bg-secondary font-bold text-primary rounded-full;
}

.btn-secondary{
    @apply bg-primary font-bold text-white rounded-full;
}

.btn-outline{
    @apply bg-transparent border-2 border-secondary font-bold text-primary duration-200 hover:bg-secondary rounded-full;
}

.btn-accent{
    @apply bg-accent font-bold text-primary rounded-full;
}

.btn-primary:active,
.btn-secondary:active,
.btn-outline:active,
.btn-accent:active{
    @apply duration-200 scale-[0.95];
}

.input-field{
    @apply border-2 rounded-full text-[14px] duration-200 focus:outline-none focus:shadow-xl;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.input-pass-icon{
    -webkit-text-security: square;
    /* -webkit-text-security: circle; */
}

input[type="tel"] {
    border: 0;
}
input[type="tel"]:focus {
    border: 0;
    outline: none;
    right: 0;
}

/* password symbol */
@font-face {
    font-family: 'fontello';
    src: url('./assets/font/fontello.eot?87107561');
    src: url('./assets/font/fontello.eot?87107561#iefix') format('embedded-opentype'),
         url('./assets/font/fontello.woff2?87107561') format('woff2'),
         url('./assets/font/fontello.woff?87107561') format('woff'),
         url('./assets/font/fontello.ttf?87107561') format('truetype'),
         url('./assets/font/fontello.svg?87107561#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }

input[type="password"] {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	/* speak: none; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

	/* add spacing to better separate each image */
	letter-spacing: 2px;
}


